.dashboard-container {
  display: flex;
  height: 100vh; /* Make the dashboard full height of the viewport */
}

.sidebar {
  width: 200px;
  background: #3a3d3f;
  color: rgb(35, 100, 240);
  padding: 1px;
  border: 1px solid #3a3d3f;
  border-radius: 1px;
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 100px; /* Adjusted for spacing */
  margin-top: 50px; /* Adjusted for spacing */
  color: rgb(117, 196, 233);
}

.sidebar-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar-list li {
  margin-bottom: 15px;
}

.sidebar-list li a {
  color: #ffffff; /* Adjusted text color */
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: block; /* Display as block elements */
  padding: 10px; /* Add padding for better spacing */
  border-radius: 5px; /* Add border-radius for rounded corners */
}

.sidebar-list li a:hover {
  color: rgb(117, 196, 233);
}

.logout-btn {
  width: 125px;
  padding: 9px;
  background-color:rgb(41, 41, 41);
  color: rgb(22, 73, 185);
  font-size: 16px;
  font-weight: bold;
  border: 2px solid rgb(35, 100, 240);
  border-radius: 10px;
  cursor: pointer;
  margin-top: auto; /* Push the logout button to the bottom */
}


.dashboard-cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
}

.dashboard-card {
  background-color: #3a3d3fd5;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin: 100px;
  width: 240px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;

}

.dashboard-card:hover {
  transform: scale(1.05);
}

.dashboard-card p {
  font-size: 0px;
  margin: 0px 0;
}

.dashboard-card span {
  font-size: 18px;
  color: #ffffff;
}
